$color-white:           #fff;
$color-black:           #000;
$color-light-gray:      #ababab;
$color-dark-gray:       #212121;

$color-dark-green:      #28430A;
$color-med-dark-green:  #507B00;
$color-med-light-green: #95C22B;
$color-light-green:     #A7D930;
$color-light-brown:     #7B4425;
$color-dark-brown:      #63371E;
$color-light-red:       #D35B3F;

$main-nav-height:       62px;