{% extends "base.html" %}

{% block page_title %}Show Samples{% endblock %}

{% block content %}

{% if waste_samples %}
<table>
    <tr>
        <th>Waste Level</th>
        <th>Longitude</th>
        <th>Latitude</th>
    </tr>
    {% for sample in waste_samples %}
    <tr>
        <td>{{ sample.waste_level }}</td>
        <td>{{ sample.longitude }}</td>
        <td>{{ sample.latitude }}</td>
    </tr>
    {% endfor %}
</table>
{% else %}
<p>No Waste Samples available.</p>
{% endif %}

{% endblock %}