{% extends "base.html" %}

{% block page_title %}Change E-Mail{% endblock %}

{% block content %}

<section class="section--fullscreen-centered">

    <h1>Change E-Mail address</h1>

    <form method="post">
        {% csrf_token %}
        {% for field in form %}

        <p>
            {% for error in field.errors %}
            <p>{{ error }}</p>
            {% endfor %}
            {{ field.label_tag }}<br>
            {{ field }}
        </p>

        {% endfor %}

        <input type="submit" value="Change E-Mail">
    </form>

</section>

{% endblock %}