{% extends "base.html" %}

{% block page_title %}Reset password{% endblock %}

{% block content %}

<section class="section--fullscreen-centered">

    <h1>Reset Password</h1>

    <p>Enter your email address. You will receive a link to reset your password</p>

    <form method="post">
    {% csrf_token %}
    <table>
    <tr>
        <td>{{ form.email.label_tag }}</td>
        <td>{{ form.email }}</td>
    </tr>
    </table>

    <input type="submit" value="Reset Password">
    </form>

</section>

{% endblock %}