{% extends "base.html" %}

{% block page_title %}{% if success %}Verified{% else %}Hmmm{% endif %}{% endblock %}

{% block content %}

<section class="section--fullscreen-centered">
{% if success %}
    <h1>Email verified!</h1>
    {% if user.is_authenticated %}
    <p><a href="{% url 'accounts:profile' %}">Continue to profile</a></p>
    {% else %}
    <p><a href="{% url 'accounts:login' %}">Continue to login</a></p>
    {% endif %}

{% else %}
    <h1>That did not work</h1>

    <p>
        The activation link was invalid.<br>
        Please try again.
    </p>
{% endif %}
</section>

{% endblock %}