<table>
    <thead>
        <tr>
            <th>Waste Level</th>
            <th>Latitude</th>
            <th>Longitude</th>
        </tr>
    </thead>
    <tbody>
        {% if samples.count %}
        {% for sample in samples %}
        <tr>
            <td>{{ sample.waste_level}} </th>
            <td>{{ sample.latitude }}</th>
            <td>{{ sample.longitude }}</th>
        </tr>
        {% endfor %}
        {% else %}
        <tr>
            <td colspan="3">
                <p>There are no samples yet. Start your journey and <a href="{% url 'waste_samples:create' %}">create a new sample</a></p>
            </td>
        </tr>
        {% endif %}
    </tbody>
</table>