html, body {
    height: 100%;
}

body {
    @include font-regular;
}

@include breakpoint(md-max) {
    .desktop-only {
        display: none
    }
}

@include breakpoint(md-min) {
    .mobile-only {
        display: none;
    }
}