{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>{% block page_title %}{% endblock %} - OpenWasteMap</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link href="{% static 'css/styles.css' %}" rel="stylesheet" type="text/css">
        {% block additional_scripts %}{% endblock %}
    </head>

    {% block bodytag %}<body>{% endblock %}

        <div class="main-wrap">
            {% include "menu.html" %}

            <div class="main-wrap__content">
                    {% block content %}{% endblock %}
            </div>

            {% include "footer.html" %}
        </div>
    
    </body>
</html>