.main-nav {

    $height: $main-nav-height;
    $distance: 20px;

    float: right;

    &__items {
        display: inline-block;
        vertical-align: middle;
        height: $height;
        line-height: $height;
        margin: 0;

        > li {
            display: block;
            float: left;
            
            > a {
                display: block;
                line-height: $height;
                padding: 0 ($distance / 2);
                font-size: 16px;
            }
        }

        a {
            text-decoration: none;
        }
    }
}