.main-header {

    @include clearfix;

    background-color: $color-dark-gray;

    color: $color-white;
    a {
        color: $color-white;
        text-decoration: none;
    }

    &__title {
        float: left;
        font-size: ($main-nav-height - 30px);
        margin: 15px 0 15px 50px;
        line-height: 1;
    }
}