.richtext {
    table {
        width: 100%;
        border-spacing: 0;
        border-collapse: collapse;

        th {
            color: white;
        }

        thead {
            background-color: $color-light-brown;
            line-height: 200%;
        }

        tbody tr {
            line-height: 150%;

            &:nth-child(even) {
                background-color: scale-color($color: $color-light-brown, $lightness: 85%);
            }
            &:hover {
                background-color: scale-color($color: $color-light-brown, $lightness: 75%);
            }

            &:first-child {
                td {
                    margin-top: 20px;
                }
            }

            td {
                text-align: center;
            }
        }
    }
}