{% extends "base.html" %}

{% block page_title %}Create Account{% endblock %}

{% block content %}

<section class="section--fullscreen-centered">
    <h2>Create Account</h2>
    <form method="post">
        {% csrf_token %}
        {% for field in form %}
        <p>
            {{ field.label_tag }}<br>
            {{ field }}
            {% if field.help_text %}
            <small>{{ field.help_text }}</small>
            {% endif %}
            {% for error in field.errors %}
            <p>{{ error }}</p>
            {% endfor %}
        </p>
        {% endfor %}
        <button type="submit">Register</button>
    </form>
</section>

{% endblock %}